table, th, td {
    border-collapse: collapse;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

h2.hover:hover{
    color: white;
    background-color: blue;
}

td{
    padding: 10px;
    text-align: left;
}

th {
    text-align: center;
}

.negrita {
    font-weight: bold;
}

a{
    font-weight: bold;
    color: black;
}

#middle {
    text-align: center;
}

.mtut{
    background-color: coral;
    font-family: 'Courier New', Courier, monospace;
}

.m04{
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.m06{
    background-color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.m07{
    background-color: cyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.m08{
    background-color: plum;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.m10{
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
}